<div
  class="container d-flex justify-content-center border-top border-bottom border-primary"
>
  <form>
    <div *ngIf="updateEmail" class="mb-3 row">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input
        type="text"
        readonly
        class="form-control-plaintext"
        id="staticEmail2"
        value="{{ updateEmail }}"
      />
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlInput1" class="form-label"
        >First name</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        [(ngModel)]="firstName"
        name="firstName"
      />
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlInput4" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput4"
        placeholder=""
        [(ngModel)]="lastName"
        name="lastName"
      />
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlInput2" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput2"
        placeholder="name@example.com"
        [(ngModel)]="email"
        name="email"
      />
    </div>
    <div class="mb-3 row">
      <label for="inputPassword3" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword3"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
      />
    </div>
    <div
      class="form-check form-check-inline mb-3"
      *ngFor="let privilege of allPrivileges"
    >
      <input
        class="form-check-input"
        type="checkbox"
        [id]="privilege"
        [checked]="selectedPrivileges[privilege]"
        (change)="onCheckboxChange(privilege)"
        name="{{ privilege }}"
      />
      <label class="form-check-label" [for]="privilege">{{ privilege }}</label>
    </div>
    <div *ngIf="formType === 'Create'" class="mb-3 row">
      <button (click)="createUser()" type="submit" class="btn btn-primary mb-3">
        {{ formType }}
      </button>
    </div>
    <div *ngIf="formType === 'Update'" class="mb-3 row">
      <button (click)="updateUser()" type="submit" class="btn btn-primary mb-3">
        {{ formType }}
      </button>
    </div>
  </form>
</div>
